.banner {
  background-color: var(--dark-orange);
  color: #fff;
  padding: 2rem 0.75rem;
  text-align: center;
  font-weight: 700;
  font-size: 1rem;

  p {
    margin: 0;
  }

  a {
    color: currentColor;
  }
}