@use './variables' as *;

.ebook {
  margin: 4rem 0 0 0;
  display: grid;
  gap: 2rem;
  place-items: center;
  grid-template-areas: 'ebookImg' 'ebookText';

  @media (min-width: 45em) {
    gap: 4rem;
    grid-template-areas: 'ebookImg ebookText';
  }

  &__img {
    box-shadow: 0 25px 50px -12px rgba(0, 0, 0, 0.25);
    grid-area: ebookImg;
    border-radius: 0.25rem;
    width: 8rem;
  }

  &__text {
    grid-area: ebookText;

    h3 {
      margin-top: 0;
    }
  }
}

.inside {
  display: grid;
  grid-template: 1fr 1fr / auto;

  @media (min-width: 45em) {
    grid-template: auto / 1fr 1fr;
  }

  ul {
    list-style-type: none;
    padding-left: 0;
  }

  li {
    padding: 1rem 0.6rem;
    background-color: mix($grey, #fff, 2%);
    margin: 0.6rem;
    border-radius: 0.6rem;
    box-shadow: 0 1px 2px 0px mix($grey, #fff, 10%);
    border-left: 6px solid var(--orange);
  }
}