:root {
  --color-dark: #393939;
  --color-orange: #ff7f21
}

body {
  display: flex;
  min-height: 100vh;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  background-color: var(--color-dark);
  font-family: sans-serif;
  padding: 1rem;
  text-align: center;
}

h1 {
  font-weight: 600;
  font-family: 'Exo', sans-serif;
}

h1, h2 {
  color: var(--color-orange);
}

h3, p {
  color: #fff;
}